@charset "utf-8";
/* CSS Document */
#container {
	padding: 0px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: thin solid #89B270;
	background-color: #FFF;
}
#banner {
	background-image: url(images/banner.jpg);
	height: 218px;
	position: relative;
	padding: 0px;
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #3D7B2D;
	position: relative;
	left: 0px;
	top: 75px;
	width: 960px;
	text-align: center;
	letter-spacing: .2em;
}
#navigation a:link {
	color: #72B544;
	text-decoration:none;
}
#navigation a:visited {
	color: #72B544;
	text-decoration:none;
}
#navigation a:hover {
	color: #6C6;
	text-decoration:none;
}
#navigation a:active {
	color: #6C6;
	text-decoration:none;
}
#body_area {
	background-image: url(images/body_back.jpg);
	background-repeat: no-repeat;
	height: 740px;
	padding: 0px;
	margin-top: -25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.tagline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	font-style: normal;
}
.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFF;
	padding-left: 10px;
	line-height: 52px;
	font-style: italic;
}
.bottombar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFF;
	padding-left: 10px;
	font-style: italic;
	margin: 0px;
	padding-top: 0px;
}
.bottombar2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFF;
	padding-left: 10px;
	line-height: 20px;
}
#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	background-color: #FFF;
	margin-top: -20px;
	background-image: url(images/footer_background.jpg);
	background-repeat: no-repeat;
	height: 62px;
	line-height: 62px;
}
#footer a:link{
	color: #999;
	text-decoration:none;
}
#footer a:active{
	color: #6C6;
	text-decoration:none;
}
#footer a:hover{
	color: #6C6;
	text-decoration:none;
}
#footer a:visited{
	color: #999;
	text-decoration:none;
}
#calltoaction {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	position: relative;
	left: 600px;
	width: 300px;
	text-align: right;
	top: 10px;
}
.white {
	color: #FFF;
}
body {
	background-image: url(../images/wallpaper.jpg);
	background-repeat: repeat-x;
}
